<p>
  <label for="user_password"><%= @password_label || "Password:" %></label>
  <%= password_field :user, :password, :size => 60 %>
</p>
<p>
  <label for="user_password_confirmation">Confirm:</label>
  <%= password_field :user, :password_confirmation, :size => 60 %>
</p>
