<div class="bluecoat-form">
  <%= error_messages_for 'user' %>

  <fieldset>
    <legend>Enter User Details</legend>

    <% form_tag :action => :create do %>
      <%= render :partial => 'form' %>
      <%= submit_tag "Add user", :class => :submit %>
    <% end %>
  </fieldset>
</div>
