<div class="bluecoat-form">
  <fieldset>
    <legend>Enter Category/URL List</legend>

    <% form_tag do %>
      <p>
        Use this screen to initialise the data in the system.
      </p>
      <p>
        <label for="data">Load Data:</label>
        <%= text_area_tag "data", nil, :size => "60x25" %>
      </p>
      <%= submit_tag "Load Data", :class => :submit %>
    <% end %>
  </fieldset>
</div>
