<div id="bluecoat-list">
  <h1>Deploy To Hosts</h1>

  <% form_remote_tag :url => {:action => :deploy_to_hosts} do %>
    <table cellpadding="5" cellspacing="0">
      <tr>
        <th>Hostname</th>
        <th>Login User</th>
        <th>Needs Update</th>
        <th>Update?</th>
        <th>Status</th>
      </tr>
      <%= render :partial => 'host', :collection => @hosts %>
    </table>
    <%= submit_tag "Deploy" %>
  <% end %>
</div>
