<div class="bluecoat-form">
  <%= error_messages_for 'host' %>

  <fieldset>
    <legend>Enter Host Details</legend>

    <% form_tag :action => :create do %>
      <%= render :partial => 'form' %>
      <%= submit_tag "Add host", :class => :submit %>
    <% end %>
  </fieldset>
</div>
