<p>
  <label for="category_name">Name:</label>
  <%= text_field :category, :name, :size => 60 %>
</p>
<p>
  <label for="category_description">Description:</label>
  <%= text_field :category, :description, :size => 60 %>
</p>
